@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! normalize.css v9.0.1 | MIT License | github.com/csstools/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
 * ========================================================================== */
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
 * ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
main {
  display: block;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Add the correct text decoration in Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/* Embedded content
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
 * ========================================================================== */
/**
 * Remove the margin in Safari.
 */
button,
input,
select {
  margin: 0;
}

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * Show the overflow in Edge and IE.
 */
input {
  overflow: visible;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in Edge and IE.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none;
}

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge and IE.
 */
details {
  display: block;
}

/*
 * Add the correct styles in Edge, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
template {
  display: none;
}

/* User interaction
 * ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Klavika Light";
  src: url("../assets/fonts/klavika-light-webfont.woff2") format("woff2"), url("../assets/fonts/klavika-light-webfont.woff") format("woff"), url("../assets/fonts/klavika-light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  color: #000;
  font-family: "Klavika Light", Arial, sans-serif;
}

h2 {
  font-size: 2.75em;
}

h3 {
  font-size: 2em;
}

h5 {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.125em;
  margin-bottom: 0.75em;
}

h6, .h6 {
  font-size: 0.875em;
}

p {
  font-size: 1.5em;
  margin-bottom: 0.75em;
  line-height: 1.25;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.nowrap {
  white-space: nowrap;
}

.uppercase {
  text-transform: uppercase;
}

.text--blue {
  color: #00aeef;
}

.text--black {
  color: #000;
}

.text--white {
  color: #fff;
}

.site {
  min-width: 275px;
}

.text-container {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 5%;
}

.button-container {
  padding: 1em 0;
  text-align: center;
  width: 100%;
}

.button {
  background-color: #000;
  color: #fff;
  display: inline-block;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.25em;
  line-height: 1.15;
  padding: 0.5em 1em;
  text-transform: uppercase;
}

.parallax-mirror {
  background-color: #000;
}

header img {
  display: block;
  max-height: 100vh;
  margin: 0 auto;
}
header img.hidden {
  display: none;
}

section {
  padding: 2.25em 0 1.75em;
}

.bg-blue {
  background-color: #00aeef;
  color: #fff;
}

.bg-white {
  background-color: #fff;
  color: #000;
}

.bg-black {
  background-color: #231f20;
  color: #fff;
}

.header {
  padding-bottom: 1.75em;
}
.header--desktop {
  display: none;
}

.divider {
  height: 5px;
  margin-top: 1.25em;
  width: 50px;
}

.image-container {
  text-align: center;
}
.image-container--mobile, .image-container--line-up {
  margin-bottom: 1.75em;
}
.image-container--desktop {
  display: none;
}
.image-container img {
  vertical-align: bottom;
}
.image-container .power-master {
  max-width: 230px;
  width: 100%;
}
.image-container .case {
  max-width: 468px;
  width: 100%;
}

ul li {
  line-height: 1.25;
}
ul.iconed li {
  font-size: 1.5em;
  margin-bottom: 0.75em;
}
ul.iconed li.numbered {
  margin-bottom: 0.25em;
}
ul.iconed img, ul.iconed span {
  display: inline-block;
  vertical-align: top;
}
ul.iconed img {
  margin-right: 0.5em;
  padding: 3px 0;
  width: 1em;
}
ul.bulleted {
  list-style-position: outside;
  list-style-type: disc;
  margin-left: 1.25em;
}
ul.bulleted li {
  font-size: 1.125em;
}
ul.bulleted li:last-child {
  margin-bottom: 0.75em;
}

.bg-black--features .scroll-animation {
  position: relative;
  text-align: center;
}
.bg-black--features .analyser-features {
  display: block;
}
.bg-black--features .label-container {
  bottom: 0;
  display: inline-block;
  height: 100%;
  position: absolute;
  top: 0;
  vertical-align: top;
}
.bg-black--features .n, .bg-black--features .numbered, .bg-black--features .label {
  transition: opacity 3s;
}
.bg-black--features .n.opaque, .bg-black--features .numbered.opaque, .bg-black--features .label.opaque {
  opacity: 1;
}
.bg-black--features .n.transparent, .bg-black--features .numbered.transparent, .bg-black--features .label.transparent {
  opacity: 0;
}
.bg-black--features.features--mobile .label-container {
  width: 50%;
}
.bg-black--features.features--mobile .label-container--left {
  left: 0;
}
.bg-black--features.features--mobile .label-container--right {
  right: 0;
}
.bg-black--features.features--mobile .scroll-animation-container__inner {
  padding: 1em 0;
}
.bg-black--features.features--mobile .n {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12%;
  position: absolute;
  width: 20%;
}
.bg-black--features.features--mobile .n-1 {
  left: 0;
  top: 2.5%;
}
.bg-black--features.features--mobile .n-2 {
  left: 50%;
  top: -2%;
}
.bg-black--features.features--mobile .n-3 {
  left: 40%;
  top: 15%;
}
.bg-black--features.features--mobile .n-4 {
  left: -2.5%;
  top: 23.75%;
}
.bg-black--features.features--mobile .n-5 {
  left: 25%;
  top: 33%;
}
.bg-black--features.features--mobile .n-6 {
  right: 0;
  top: 6%;
}
.bg-black--features.features--mobile .n-7 {
  left: 12%;
  top: 43%;
}
.bg-black--features.features--mobile .n-8 {
  left: 45%;
  top: 40%;
}
.bg-black--features.features--mobile .n-9 {
  left: 18%;
  top: 56.5%;
}
.bg-black--features.features--mobile .animated-ul-container {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}
.bg-black--features.features--desktop {
  display: none;
}
.bg-black--features.features--desktop .label-container {
  left: 0;
  right: 0;
  width: 100%;
}
.bg-black--features.features--desktop .label-container .label {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.bg-black--features.features--desktop .label-container .label.opaque {
  opacity: 1;
}
.bg-black--features.features--desktop .label-container .label.transparent {
  opacity: 0;
}

.bg-white--software .image-container {
  position: relative;
}
.bg-white--software .screen {
  display: block;
  position: relative;
  width: 100%;
  z-index: 5;
}
.bg-white--software .program {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: opacity 3s;
  transition: opacity 3s;
  width: 100%;
}
.bg-white--software .program.show {
  opacity: 1;
}
.bg-white--software .program.hide {
  opacity: 0;
}

.bg-black--gradient {
  background-color: #231f20;
  background-image: radial-gradient(#736f70, #3c3839, #231f20);
}
.bg-black--gradient .row--desktop {
  display: none;
}
.bg-black--gradient .col {
  padding-bottom: 1.75em;
}
.bg-black--gradient .col:last-child {
  padding-bottom: 0;
}
.bg-black--gradient .image-container--line-up {
  text-align: left;
}
.bg-black--gradient .image-container--line-up img {
  max-width: 275px;
  width: 100%;
}
.bg-black--gradient p {
  margin-bottom: 1.25em;
}

footer {
  padding: 2.75em 0 0.75em;
}

@media screen and (min-width: 575px) {
  .bg-black--features.features--mobile {
    display: none;
  }
  .bg-black--features.features--desktop {
    display: block;
  }

  footer .left {
    display: inline-block;
    padding-right: 1em;
    vertical-align: top;
    width: 50%;
  }
  footer .right {
    display: inline-block;
    padding-left: 1em;
    vertical-align: top;
    width: 50%;
  }
}
/*
<footer class="bg-blue">
            <div class="text-container">
                <div class="header header--mobile">
                    <h2><span class="uppercase">we’re here to help</span></h2>
                    <div class="divider bg-white"></div>
                </div>
                <div class="left">
                    <div class="header header--desktop">
                        <h2><span class="uppercase">we’re here to help</span></h2>
                        <div class="divider bg-white"></div>
                    </div>
                    <p>
                        Choosing an appropriate power quality analyser for your application might seem a daunting task. Leave us your details and we will make sure you will get the best tool for the job.
                    </p>
                </div><div class="right">
                    <div class="ml-form-embedContainer ml-subscribe-form">
*/
@media screen and (min-width: 710px) {
  .image-container--mobile {
    display: none;
  }
  .image-container--desktop {
    display: block;
  }

  main .left {
    display: inline-block;
    padding-right: 1em;
    vertical-align: middle;
    width: 60%;
  }
  main .right {
    display: inline-block;
    vertical-align: middle;
    width: 40%;
  }

  .bg-white--software p {
    padding-right: 1.5em;
  }
}
@media screen and (min-width: 850px) {
  .header {
    padding-bottom: 1.75em;
  }
  .header--mobile {
    display: none;
  }
  .header--desktop {
    display: block;
  }

  .bg-black--gradient .row--desktop {
    display: block;
  }
  .bg-black--gradient .col {
    display: inline-block;
    padding-bottom: 0;
    vertical-align: top;
    width: 33.33%;
  }
  .bg-black--gradient .col:first-child {
    padding-right: 1em;
  }
  .bg-black--gradient .col:nth-child(2) {
    padding: 0 0.5em;
  }
  .bg-black--gradient .col:last-child {
    padding-left: 1em;
  }
  .bg-black--gradient .col .header--mobile {
    display: none;
  }

  footer .left {
    width: 60%;
  }
  footer .right {
    width: 40%;
  }
}
@media screen and (min-width: 900px) {
  .bg-white--first .col {
    width: 25%;
  }
  .bg-white--first .col:first-child {
    text-align: left;
  }
  .bg-white--first .col:last-child {
    text-align: right;
  }

  .bg-black--third .left, .bg-black--third .right {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }
  .bg-black--third .left {
    padding-right: 0.5em;
  }
  .bg-black--third .right {
    padding-left: 0.5em;
  }
  .bg-black--third .header {
    padding-top: 0;
  }
}
@media screen and (min-width: 950px) {
  .bg-blue--first .left, .bg-blue--first .right {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }

  .bg-white--second .col {
    display: inline-block;
    width: 50%;
  }
  .bg-white--second .col:first-child {
    padding-bottom: 1.5em;
    padding-right: 0.25em;
  }
  .bg-white--second .col:nth-child(2) {
    padding-bottom: 1.5em;
    padding-left: 0.25em;
  }
  .bg-white--second .col:nth-child(3) {
    padding-bottom: 0;
    padding-right: 0.25em;
  }
  .bg-white--second .col:last-child {
    padding-left: 0.25em;
  }
}
@media screen and (min-width: 1125px) {
  .bg-black--gradient .col:first-child {
    padding-right: 1.75em;
  }
  .bg-black--gradient .col:nth-child(2) {
    padding: 0 0.875em;
  }
  .bg-black--gradient .col:last-child {
    padding-left: 1.75em;
  }

  footer .left {
    width: 65%;
  }
  footer .right {
    width: 35%;
  }
}

/*# sourceMappingURL=style.css.map */
